:root{
    --bg-color: white;
    --text-color: black;
}

@media screen and (prefers-color-scheme: dark) {
    :root{
        --bg-color: rgb(32, 32, 32);;
        --text-color: white;
    }
    .icon{
        filter: invert(1);
    }
}



body{
    margin: 0px;
    font-family: sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
}

#list{
    margin: 5em;
}

.page{
    font-size: 2em;
    line-height: 2em;
    margin: 5em 0;
    padding: 1em 2em;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.citi{
    display: flex;
    align-items: center;
    margin: 1em 0;
}

.timestamp{
    margin-right: 2em;
    min-width: 10em;
    box-sizing: border-box;
    text-align: center;
    background-repeat: no-repeat;
    white-space: nowrap;
}

.text{
    margin-right: 2em;
    font-size: 0.75em;
    line-height: 1.5em;
    width: 100%;
}

.icons{
    margin-left: auto;
    display: flex;
}

.icon{
    margin: 0 0.5em;
    cursor: pointer;
}

.commentBox,
.latex {
    border: 1px #aaa solid;
    padding: 0.5em;
}




.pageBox{
    display: flex;
    align-items: center;
    margin: 1em 0;
}

.favicon{
    height: 2em;
    min-width: 10em;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 2em;
}

.url {
    margin: 1em 0;
    line-height: 0.5em;
    font-size: 0.5em;
}

.latex {
    margin: 1em 0;
    line-height: 0.75em;
    font-size: 0.75em;
}









.copy{
    background-image: url("images/icons/copy.svg");
}
.delete{
    background-image: url("images/icons/delete.svg");
}
.comment{
    background-image: url("images/icons/comment.svg");
}
.open{
    background-image: url("images/icons/open.svg");
}
.copyPage{
    background-image: url("images/icons/copyPage.svg");
}
.action{
    background-image: url("images/icons/edit.svg");
}

.copy.done{
    background-image: url("images/icons/copyDone.svg");
}
.copyPage.done{
    background-image: url("images/icons/copyPageDone.svg");
}

.icon{
    background-position: center;
    background-size: contain;
    height: 1.5em;
    width: 1.5em;
    background-repeat: no-repeat;
}

.hidden,
.icon,
.icons:hover .icon.action{
    display: none;
}

.icon.action,
.icons:hover .icon{
    display: block;
}